[[source]]
name = "pypi"
# url = "https://pypi.org/simple"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[dev-packages]
corenlp-webclient = {editable = true,path = "."}
autopep8 = "*"
pylint = "*"
jupyter = "*"

[packages]

[requires]

